<div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="https://source.unsplash.com/random/800x600" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <span class="item-price">{{item.title}}</span>
        <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
        <a href="#">#css</a> <a href="#">#responsive</a>
        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time> -->
      </div>
    </div> <!--Card Content -->

    <footer class="card-footer">
      <div class="card-footer-item">
        {{item.price}}
      </div>
    </footer>
  </div>